<div class="meta-forms">
    <div class="meta-form standard-metas">
        <h2>Standard Meta Tags</h2>
        {{input value=standardTags.siteTitle placeholder="Site Title"}}
        {{input value=standardTags.keywords placeholder="Keywords"}}
        {{input value=standardTags.description placeholder="Description"}}
    </div>
    <div class="meta-form facebook-metas">
        <h2>Facebook Tags</h2>
        {{input value=facebookTags.title placeholder="Site Title"}}
        {{input value=facebookTags.siteName placeholder="Site Name"}}
        {{input value=facebookTags.url placeholder="URL"}}
        {{input value=facebookTags.image placeholder="Image"}}
        {{input value=facebookTags.locale placeholder="Locale"}}
        {{input value=facebookTags.appId placeholder="appId"}}
        {{input value=facebookTags.description placeholder="description"}}
    </div>
    <div class="meta-form twitter-metas">
        <h2>Twitter Meta Tags</h2>
        {{input value=twitterTags.title placeholder="Site Title"}}
        {{input value=twitterTags.siteName placeholder="Site Name"}}
        {{input value=twitterTags.url placeholder="URL"}}
        {{input value=twitterTags.image placeholder="Image"}}
        {{input value=twitterTags.locale placeholder="Locale"}}
        {{input value=twitterTags.appId placeholder="appId"}}
        {{input value=twitterTags.description placeholder="description"}}
    </div>
    <div class="meta-form googleplus-metas">
        <h2>Google Plus Meta Tags</h2>
        {{input value=googleTags.profileLink placeholder="Profile Link"}}
        {{input value=googleTags.publisherLink placeholder="Business Link"}}
    </div>
</div>

<div class="meta-tags-output">
    <h2>Standard Meta Tags</h2>
    <p>{{standardTags.siteTitle}}</p>
    <p>{{standardTags.keywords}}</p>
    <p>{{standardTags.description}}</p>

    <h2>Facebook Tags</h2>
    <p>{{facebookTags.title}}</p>
    <p>{{facebookTags.siteName}}</p>
    <p>{{facebookTags.url}}</p>
    <p>{{facebookTags.image}}</p>
    <p>{{facebookTags.locale}}</p>
    <p>{{facebookTags.appId}}</p>
    <p>{{facebookTags.description}}</p>

    <h2>Twitter Tags</h2>
    <p>{{twitterTags.title}}</p>
    <p>{{twitterTags.siteName}}</p>
    <p>{{twitterTags.url}}</p>
    <p>{{twitterTags.image}}</p>
    <p>{{twitterTags.locale}}</p>
    <p>{{twitterTags.appId}}</p>
    <p>{{twitterTags.description}}</p>

    <h2>Google Plus Meta Tags</h2>
    <p>{{googleTags.profileLink}}</p>
    <p>{{googleTags.publisherLink}}</p>
</div>
