{{meta-forms standardTags=standardTags facebookTags=facebookTags twitterTags=twitterTags googleTags=googleTags}}
<div class="meta-tags-output">
    <h2>Standard Meta Tags</h2>
    <p>{{standardTags.siteTitle}}</p>
    <p>{{standardTags.keywords}}</p>
    <p>{{standardTags.description}}</p>

    <h2>Facebook Tags</h2>
    <p>{{facebookTags.title}}</p>
    <p>{{facebookTags.siteName}}</p>
    <p>{{facebookTags.url}}</p>
    <p>{{facebookTags.image}}</p>
    <p>{{facebookTags.locale}}</p>
    <p>{{facebookTags.appId}}</p>
    <p>{{facebookTags.description}}</p>

    <h2>Twitter Tags</h2>
    <p>{{twitterTags.title}}</p>
    <p>{{twitterTags.siteName}}</p>
    <p>{{twitterTags.url}}</p>
    <p>{{twitterTags.image}}</p>
    <p>{{twitterTags.locale}}</p>
    <p>{{twitterTags.appId}}</p>
    <p>{{twitterTags.description}}</p>

    <h2>Google Plus Meta Tags</h2>
    <p>{{googleTags.profileLink}}</p>
    <p>{{googleTags.publisherLink}}</p>
</div>
